Repository mademperors/NextRep, pull requests merged in 2025-06, with the labels that each got.

#29 Frontend setup (+ register/login implemented)
  .eslintrc.js
  .vscode/settings.json
  packages/backend/.env.example
  packages/backend/src/main.ts
  packages/frontend/.dockerignore
  packages/frontend/.env.example
  packages/frontend/.gitignore
  packages/frontend/Dockerfile
  packages/frontend/README.md
  packages/frontend/app/api/apiFetch.ts
  packages/frontend/app/api/auth.ts
  packages/frontend/app/app.css
  packages/frontend/app/components/login-form.tsx
  packages/frontend/app/components/register-form.tsx
  packages/frontend/app/components/ui/button.tsx
  packages/frontend/app/components/ui/card.tsx
  packages/frontend/app/components/ui/input.tsx
  packages/frontend/app/components/ui/label.tsx
  packages/frontend/app/components/ui/sonner.tsx
  packages/frontend/app/constants/enums/roles.enum.ts
  packages/frontend/app/lib/utils.ts
  packages/frontend/app/root.tsx
  packages/frontend/app/routes.ts
  packages/frontend/app/routes/admin-login.tsx
  packages/frontend/app/routes/admin-register.tsx
  packages/frontend/app/routes/home.tsx
  packages/frontend/app/routes/login.tsx
  packages/frontend/app/routes/register.tsx
  packages/frontend/app/welcome/welcome.tsx
  packages/frontend/components.json
  packages/frontend/package.json
  packages/frontend/public/favicon.ico
  packages/frontend/react-router.config.ts
  packages/frontend/tsconfig.json
  packages/frontend/vite.config.ts
  packages/frontend/yarn.lock
Labels: frontend

#35 Friends
  packages/backend/src/database/entities/member.entity.ts
  packages/backend/src/database/migrations/1749573242543-TrainingAndMembers.ts
  packages/backend/src/database/migrations/1749573288593-create-relation-for-friends.ts
  packages/backend/src/repositories/friends/dtos/add-new-friends.dto.ts
  packages/backend/src/repositories/friends/dtos/response-friends.dto.ts
  packages/backend/src/repositories/friends/friends.controller.ts
  packages/backend/src/repositories/friends/friends.module.ts
  packages/backend/src/repositories/friends/friends.repository.ts
  packages/backend/src/repositories/repository.module.ts
Labels: backend

#37 Achivements
  packages/backend/src/database/config/migrations-data-source.config.ts
  packages/backend/src/database/entities/achivement.entity.ts
  packages/backend/src/database/entities/member.entity.ts
  packages/backend/src/repositories/achievements/achievements.controller.ts
  packages/backend/src/repositories/achievements/achievements.module.ts
  packages/backend/src/repositories/achievements/achievements.service.ts
  packages/backend/src/repositories/achievements/dto/achievement-member.dto.ts
  packages/backend/src/repositories/achievements/dto/create-achievement.dto.ts
  packages/backend/src/repositories/achievements/dto/responce-achivements.dto.ts
  packages/backend/src/repositories/achievements/dto/update-achievement.dto.ts
  packages/backend/src/repositories/repository.module.ts
Labels: enhancement, backend
